quartus_nativelink_synthesis.log
RTClock_nativelink_simulation.rpt
RTClock.archive.rpt
RTClock.qar
RTClock.qarlog
RTClock.qpf
RTClock.qsf
RTClock.qws
RTClock.srf
RTClock.vhd.bak
vhdl_ls.toml
vhdltool-config.yaml
ws-Uppgift7-19-exta.code-workspace
.vscode/extensions.json
db/.cmp.kpt
db/prev_cmp_RTClock.qmsg
db/RTClock_partition_pins.json
db/RTClock.(0).cnf.cdb
db/RTClock.(0).cnf.hdb
db/RTClock.archive.qmsg
db/RTClock.asm_labs.ddb
db/RTClock.asm.qmsg
db/RTClock.asm.rdb
db/RTClock.cbx.xml
db/RTClock.cmp_merge.kpt
db/RTClock.cmp.bpm
db/RTClock.cmp.cdb
db/RTClock.cmp.hdb
db/RTClock.cmp.idb
db/RTClock.cmp.logdb
db/RTClock.cmp.rdb
db/RTClock.db_info
db/RTClock.eda.qmsg
db/RTClock.fit.qmsg
db/RTClock.hier_info
db/RTClock.hif
db/RTClock.lpc.html
db/RTClock.lpc.rdb
db/RTClock.lpc.txt
db/RTClock.map_bb.cdb
db/RTClock.map_bb.hdb
db/RTClock.map_bb.logdb
db/RTClock.map.ammdb
db/RTClock.map.bpm
db/RTClock.map.cdb
db/RTClock.map.hdb
db/RTClock.map.kpt
db/RTClock.map.logdb
db/RTClock.map.qmsg
db/RTClock.map.rdb
db/RTClock.npp.qmsg
db/RTClock.pplq.rdb
db/RTClock.pre_map.hdb
db/RTClock.root_partition.map.reg_db.cdb
db/RTClock.routing.rdb
db/RTClock.rtlv_sg_swap.cdb
db/RTClock.rtlv_sg.cdb
db/RTClock.rtlv.hdb
db/RTClock.sgate_sm.nvd
db/RTClock.sgate.nvd
db/RTClock.sld_design_entry_dsc.sci
db/RTClock.sld_design_entry.sci
db/RTClock.smart_action.txt
db/RTClock.sta_cmp.7_slow_1200mv_85c.tdb
db/RTClock.sta.qmsg
db/RTClock.sta.rdb
db/RTClock.tis_db_list.ddb
db/RTClock.tiscmp.fast_1200mv_0c.ddb
db/RTClock.tiscmp.fastest_slow_1200mv_0c.ddb
db/RTClock.tiscmp.fastest_slow_1200mv_85c.ddb
db/RTClock.tiscmp.slow_1200mv_0c.ddb
db/RTClock.tiscmp.slow_1200mv_85c.ddb
db/RTClock.tmw_info
db/RTClock.vpr.ammdb
db/RTClock.zippleback_io_sim_cache.ff_0c_fast.hsd
db/RTClock.zippleback_io_sim_cache.ii_0c_slow.hsd
db/RTClock.zippleback_io_sim_cache.ii_85c_slow.hsd
incremental_db/README
incremental_db/compiled_partitions/RTClock.db_info
incremental_db/compiled_partitions/RTClock.root_partition.cmp.ammdb
incremental_db/compiled_partitions/RTClock.root_partition.cmp.cdb
incremental_db/compiled_partitions/RTClock.root_partition.cmp.dfp
incremental_db/compiled_partitions/RTClock.root_partition.cmp.hdb
incremental_db/compiled_partitions/RTClock.root_partition.cmp.logdb
incremental_db/compiled_partitions/RTClock.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/RTClock.root_partition.map.cdb
incremental_db/compiled_partitions/RTClock.root_partition.map.dpi
incremental_db/compiled_partitions/RTClock.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/RTClock.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/RTClock.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/RTClock.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/RTClock.root_partition.map.hdb
incremental_db/compiled_partitions/RTClock.root_partition.map.kpt
incremental_db/compiled_partitions/RTClock.rrp.hdb
Inlämning/john_yucel_vhdl1-uppgift7-10-extra_ver2.zip
Inlämning/john_yucel_vhdl1-uppgift7-10-extra.zip
Inlämning/john_yucel_VHDL1-uppgift10-10-extra-RTClock_ver2.qar
Inlämning/john_yucel_VHDL1-uppgift10-10-extra-RTClock_ver2.qarlog
Inlämning/john_yucel_VHDL1-uppgift10-10-extra-RTClock_ver3.qar
Inlämning/john_yucel_VHDL1-uppgift10-10-extra-RTClock_ver3.qarlog
Inlämning/john_yucel_VHDL1-uppgift10-10-extra-RTClock.docx
Inlämning/john_yucel_VHDL1-uppgift10-10-extra-RTClock.qar
Inlämning/john_yucel_VHDL1-uppgift10-10-extra-RTClock.qarlog
Inlämning/john_yucel_VHDL1-uppgift10-10-extra1-RTClock.docx
output_files/RTClock.asm.rpt
output_files/RTClock.cdf
output_files/RTClock.done
output_files/RTClock.eda.rpt
output_files/RTClock.fit.rpt
output_files/RTClock.fit.smsg
output_files/RTClock.fit.summary
output_files/RTClock.flow.rpt
output_files/RTClock.jdi
output_files/RTClock.map.rpt
output_files/RTClock.map.smsg
output_files/RTClock.map.summary
output_files/RTClock.pin
output_files/RTClock.pof
output_files/RTClock.sld
output_files/RTClock.sof
output_files/RTClock.sta.rpt
output_files/RTClock.sta.smsg
output_files/RTClock.sta.summary
simulation/modelsim/modelsim.ini
simulation/modelsim/msim_transcript
simulation/modelsim/RTClock_modelsim.xrf
simulation/modelsim/RTClock_run_msim_gate_vhdl.do
simulation/modelsim/RTClock_run_msim_rtl_vhdl.do
simulation/modelsim/RTClock_run_msim_rtl_vhdl.do.bak
simulation/modelsim/RTClock.sft
simulation/modelsim/RTClock.vho
simulation/modelsim/RTClock.vht
simulation/modelsim/vsim.wlf
simulation/modelsim/rtl_work/_info
simulation/modelsim/rtl_work/_lib.qdb
simulation/modelsim/rtl_work/_lib1_0.qdb
simulation/modelsim/rtl_work/_lib1_0.qpg
simulation/modelsim/rtl_work/_lib1_0.qtl
simulation/modelsim/rtl_work/_vmake
